.description{
    margin-left: 30vh;
    margin-top: 30vh;
}

.images{
    height: 5vh;
    width: 5vh;
}

.background-container {
    background-image: url('../Project CSS/background.jpeg');
    background-size: cover;
    background-position: center center;
    width: 100vw; 
    height: 100vh; 
  }