.description {
  background-image: url('../Project CSS/black.jpg');

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  align-items: center;
}

.text {
  margin-right: 2rem;
  color: white;
  opacity: 0; /* Initially set opacity to 0 */
  animation: fadeIn 2s ease-in-out forwards; /* Use the 'fadeIn' animation */
}

.text h1 {
  font-size: 5rem; 
  font-family: 'Blissful', sans-serif; 
  font-weight: bold;
}
.text h3{
  font-weight: lighter;
}

.images {
  padding-top: 2rem;
  padding-left: 5rem;
}

.me {
  height: 40rem;
  width: 40rem;
  border-radius: 10%;
}

.logo {
  position: absolute;
  top: 7px;
  left: 20px;
  height: 210px; 
  width: 210px; 
  border-radius: 50%; 
  margin-left: 20rem;
  cursor: pointer;
}


.hero {
  background-image: url('../Project CSS/black.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* Optionally add a slight vertical movement */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}